* {
	outline:none;
	border:none;
	margin:0px;
	padding:0px;
	font-family: Arial;
}

.displayOff {
	display: none;
}

#query {
	width:735px;
	overflow:hidden;
	background-color:#FFF;
	font-family:Courier, monospace;
	color:#222;
	font-weight:normal;
	font-size:20px;
	resize:none;
	line-height:43px;
	padding-left:100px;
	padding-right:100px;
	padding-top:45px;
	padding-bottom:34px;
	background-image:url(../img/lines.png), url(../img/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

select {
	width: 100px;
	border-radius: 10px;
	height: 25px;
	font-family:Courier, monospace;
}

#er {
	position: relative;
	margin: 20px 20px 20px 20px;
	/*width: 735px;*/
}

#result {
	margin-left:0px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#loading {
	margin-top: 25px;
	margin-left: 210px;
}

#title {
	margin-left:12px;
	margin-bottom:20px;
	font-weight: bold;
	/*font-size: 18px;*/
	font-family:Courier, monospace;
}

.dimmer
{
	opacity:0.4;
	z-index:-1; /* may not be necessary */
}

#utility {
	margin-top: 30px;
}

.xewarning, .xdebug-error {
	color: black;
	display: none;
}

option {
	font-family: Courier, monospace;
}

#resize_switch {
	position:absolute; 
	right:0px; 
	top: -20px; 
	background-color: #F32C52;
}

#sql_icon {
	position:absolute; 
	left:-20px; 
	top: 47px;
}

.dim-image {
	border-radius: 14px;
	z-index; -1;
}

/* Switch
========================== */
.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 70px;
	height: 25px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
/*.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}*/
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Swicth Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/* Pagination
========================== */
.pagination {
	display: inline-block;
}

.pagination a {
	color: #4CAF50;
	font-weight: bold;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	user-select: none;
	cursor: default;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

/* .btn class
========================== */
.btn {
	position: relative;
	left: 540px;
	margin-right: 15px;
	margin-top:20px;
	background: #3498db;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	/*font-size: 16px;*/
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #156785;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.btn:active {
	top:3px;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

/* Table
========================== */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

/* Error
========================== */
.error {
	margin: 10px 0px;
	color: #D8000C;
	background-color: #FFD2D2;
}

.error i {
	margin:10px 22px;
	font-size:2em;
	vertical-align:middle;
}

/* Icon Button
========================== */
.iconBtn {
	position: relative;
	border-radius: 5px;
	padding: 10px;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #156785;
	color: white;
}

.iconBtn:hover {
	background: #3cb0fd;
	text-decoration: none;
}
.iconBtn:active {
	top: 3px;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #156785;
}

/* Tool tip
========================== */
.tooltip {
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #E1B42B;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #E1B42B transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Er diagram box
========================== */
.box {
	background:#ffffff;
	margin:40px auto;
	border: 1px solid #ccc;
}

.effect2
{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect2:before, .effect2:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.effect2:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}